# Elastic Beanstalk Files
.coverage
.ebextensions/*
.elasticbeanstalk/*
.ebignore
.dockerignore
.git
.gitignore
.DS_Store

# Docker container installs its own (Linux) dependencies, the host may
# run OS X or windows, so don't include pre-existing node modules.
node_modules

# Ignore files not required for the runtime.
app/dist
docs
htmlcov

README.md
ghostdriver.log
