# Elastic Beanstalk Files
.ebextensions
.elasticbeanstalk
.ebignore

# Docker container installs its own (Linux) dependencies, the host may
# run OS X or windows, so don't include pre-existing node modules.
node_modules

# Ignore files not required for the runtime.
.DS_Store
.coverage
.dockerignore
.git
.gitignore
.python-version
README.md
Dockerrun.aws.json
docs
ghostdriver.log
htmlcov


# Ignore assets in the local file system, don't push these into the
# Docker build context as they're rebuilt during Docker image build.
app/dist
