# Elastic Beanstalk configuration
# Author Ron. A @0xADADA


option_settings:
  "aws:elasticbeanstalk:application:environment":
    "DJANGO_SETTINGS_MODULE": "project.settings"
    "PYTHONPATH": "/opt/python/current/app/app/project:$PYTHONPATH"
    "PYTHONUNBUFFERED": "false"
    "ENV_NAME": "prod"
    "ENV_DEBUG": "false"
    "ENV_LOG_LEVEL": "INFO"
    "ENV_SECRET_KEY": "thisisabadsecretkeyyoushouldreplaceit"
    "ENV_CDN": "/"
    "ENV_SECURE_COOKIES": "false"
