alabaster==0.7.5
astroid==1.3.6
Babel==1.3
coverage==3.7.1
Django==1.8
django-debug-toolbar==1.3.0
django-extensions==1.5.5
django-pipeline==1.5.1
docutils==0.12
dodgy==0.1.7
enum34==1.0.4
flake8==2.4.1
frosted==1.4.1
futures==3.0.3
honcho==0.6.6
httpretty==0.8.10
ipaddress==1.0.7
Jinja2==2.7.3
logilab-common==0.63.2
manifesto==0.5
MarkupSafe==0.23
mccabe==0.3.1
mock==1.3.0
mysqlclient==1.3.6
pbr==1.4.0
pep257==0.6.0
pep8==1.5.7
pies==2.6.5
pies2overrides==2.6.5
pyflakes==0.8.1
Pygments==2.0.2
pyroma==1.8.2
pytz==2015.4
PyYAML==3.11
requests==2.7.0
requirements-detector==0.4
selenium==2.46.0
setoptconf==0.2.0
six==1.9.0
snowballstemmer==1.2.0
Sphinx==1.3.1
sphinx-rtd-theme==0.1.8
sqlparse==0.1.15
vulture==0.6
Werkzeug==0.10.4
