/* ===== Base ==========================================================
 * Base
 * Unclassified HTML elements, h1-h6, UL, OL, the deepest layer we should
 * see the type selector.
 */

/*
 * Set the base viewport
@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }
 */


/*
 * Use box-sizing
 */
* {
  box-sizing: border-box;
}

html,
button,
input,
select {
  /* Normalize font stack. */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-smooth: always; */

  /* text size adjust
   * allows Web authors to control if and how
   * the text-inflating algorithm is applied to the textual content
   * of the element it is applied to.
   */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
/* text-size-adjust: 100%; */
}
