/* ===== Objects =======================================================
 * Objects
 * OOCSS, design patterns, no cosmetic styles, begin using classes
 * exclusively with agnostic names (e.g. 'ui-list').
 * This is where the sculptor roughs in general shapes.
 *
 * o- is the prefix for all objects.
 */
